[Unit]
Description=xovi extension framework (tethered start at boot)
After=xochitl.service
Wants=xochitl.service

[Service]
Type=oneshot
ExecStart=/home/root/xovi/start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
